<button
  aria-checked="false"
  aria-label="Toggle icon size (16 or 24)"
  class="ds-toggle-button"
  role="switch"
  type="button"
  {{on 'click' this.updateVisibleIconSize}}
>
  <span class="ds-toggle-button-slider">
    <span 
    class="ds-toggle-16 {{if (eq this.visibleIconSize '16') "ds-toggle-16-active"}}" 
    aria-hidden="true">
      16px
    </span>
    <span 
    class="ds-toggle-24 {{if (eq this.visibleIconSize '24') "ds-toggle-24-active"}}" 
    aria-hidden="true">
      24px
    </span>
  </span>

</button>