<nav class="ds-nav">
  <ul class="ds-ul">
    <li class="ds-li">
      <a class="ds-a" href="/">View Icons</a>
    </li>
    <li class="ds-li">
      <a class="ds-a" href="/docs/design">Design</a>
    </li>
    <li class="ds-li">
      <a class="ds-a" href="/docs/engineering">Engineering</a>
    </li>
  </ul>
</nav>