p.ds-p {
  font-family: var(--font-body);
  margin: 0.25vh auto;
  @apply text-base;
}

a.ds-a {
  color: var(--brand-link);
}

h1.ds-h1
h2.ds-h2,
h3.ds-h3,
h4.ds-h4,
h5.ds-h5 {
  font-family: var(--font-display);
  line-height: var(--font-line-height-headings);
}

h1.ds-h1 {
  @apply 
  mb-4
  text-3xl
  ;
}

h2.ds-h2 {
  @apply
  text-2xl;
}

h3.ds-h3 {
  @apply 
  text-xl 
  font-medium;

}

h4.ds-h4 {
  @apply text-lg;
}

h5.ds-h5 {
  @apply text-base;
}