
{{!-- {{#each posts as |post|}}
   <article fit class="ds-article">
     {{link-to post.attributes.title 'docs.post' post.attributes.slug class="ds-a"}}
    
     <div class="ds-attribution">
       By {{post.attributes.author}}
     </div>
   </article>
{{/each}} --}}